{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="mb-4">Benvenuto nella 5L</h1>
    <p class="lead mb-5">Scegli un'applicazione per iniziare:</p>

    <div class="row g-3 justify-content-center">
        <div class="col-12 col-md-4 d-grid">
            <a href="{% url 'interrogazioni:index' %}" class="btn btn-secondary btn-lg">
                Interrogazioni
            </a>
        </div>
        <div class="col-12 col-md-4 d-grid">
            <a href="{% url 'estrazioni:index' %}" class="btn btn-secondary btn-lg">
                Estrazioni
            </a>
        </div>
        <div class="col-12 col-md-4 d-grid">
            <a href="{% url 'appunti:index' %}" class="btn btn-secondary btn-lg">
                Appunti
            </a>
        </div>
    </div>
</div>
{% endblock %}
